html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

:root {
	--black-color: #000000;
	--dark-bg-color: #141414;
	--main-bg-color: #282828;
	--dark-accent-color: #230046;
	--light-accent-color: #692aa7;
}

* {
	font-family: 'Barlow', sans-serif;
	box-sizing: border-box;
}

body,html{
	height: 100vh;
	width: 100vw;
}

#root,.main-page {
	height: 100%;
	width: 100%;
}

.main-page {
	display: grid;
	grid-template-columns: auto 600px;
}

.workspace {
	display: grid;
	grid-template-rows: 50px auto 50px;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: var(--black-color);
}

.nav-links {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: fit-content;
}

.nav-link {
	padding: 0px 15px 0px 15px;
}

.nav-link, .nav-link:after {
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: 600;
	border: 0px;
	transition: 200ms;
}

.nav-link:hover {
	color: var(--light-accent-color);
	text-shadow: 0px 0px 2px var(--light-accent-color);
}

.nav-link.current-page {
	color: var(--main-bg-color);
	cursor: default;
	text-shadow: none;

}

.album-space {
	height: 100%;
	background-color: var(--main-bg-color);
	background-image: linear-gradient(var(--main-bg-color), var(--dark-bg-color), var(--black-color))
}

footer {
	background-color: var(--black-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

.credits, .credits a {
	color: var(--main-bg-color);
	text-decoration: none;
}

.toolside {
	background-color: var(--dark-bg-color);
	height: 100%;
	box-shadow: -2px 0px 5px var(--dark-accent-color);
	display: flex;
	flex-direction: column;
	transition: 200ms;
	align-items: center;
}

.toolside:hover {
	box-shadow: -2px 0px 10px var(--light-accent-color);
}

.heading {
	text-align: center;
	color: white;
	font-size: 60px;
	width: 100%;
	height: 200px;
	padding: 70px 0px 70px 0px;
}

.toolbar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.toolbar button, .search-form button,select {
	margin: 0px 10px 0px 0px;
	height: 40px;
	width: 120px;
	background-color: var(--main-bg-color);
	border-radius: 6px;
	border: 2px solid var(--main-bg-color);
	color: white;
	font-size: 15px;
	font-weight: 600;
	transition: all 0.2s;
}

.toolbar button:hover, .search-form button:hover,select:hover {
	border: 2px solid var(--light-accent-color);
	background-color: var(--light-accent-color);
	cursor: pointer;
	box-shadow: 0px 0px 3px var(--light-accent-color);
}

#help {
	width: 40px;
	font-size: 24px;
	font-weight: 900;
}

.search-form {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0px 20px 0px;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search-bar {
	height: 35px;
	width: 300px;
	font-size: 20px;
	color: white;
}

.search-bar, .list-albums {
	background-color: var(--main-bg-color);
	border: 2px solid var(--dark-accent-color);
	border-radius: 4px;
	transition: 200ms;
	padding: 0px 5px 0px 5px;
}

.search-bar:focus,.list-albums:hover {
	border: 2px solid var(--light-accent-color);
	box-shadow: 0 0 10px var(--light-accent-color);
}

.search-bar:focus::placeholder {
	color: transparent;
}

.search-form select {
	height: 35px;
	width: 70px;
	margin: 0px 10px 0px 10px;
}

#search-button{
	height: 35px;
	width: 50px;
	margin: 0px
}

.list-albums {
	height: 300px;
	width: 500px;
}

.list-holder {
	height: 100%;
	width: 100%;
	padding: 10px 5px 0px 5px;
	white-space: nowrap;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

::-webkit-scrollbar {
	display: none;
}

.album-selector {
	margin: 0px 0px 10px 0px;
	transition: 500ms;
	font-size: 24px;
	color: #605f5f;
	background: transparent;
	border: none;
}

.album-selector:hover {
	color: white;
	text-shadow: 0px 0px 1px white;
	font-size: 28px;
	cursor: pointer;
}

.album-preview {
	height: 300px;
	width: 300px;
	margin-top: 20px;
}